<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RecipeApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li> -->
            </ul>
            <form class="offset-md-6 form-inline my-2 my-lg-0" (ngSubmit)="loginUser()" [formGroup]="loginForm">
                <input class="form-control mr-sm-2" type="email" placeholder="Email" formControlName="email">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" formControlName="password">
                <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Login</button>
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="router.navigate(['/register-user'])">New User</button>
              </form>
        </div>
    </div>
</nav> 
