<ng-template #registerTemplate>
  <app-register></app-register>
</ng-template>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

      <a class="navbar-brand" routerLink="">RecipeApp</a>

      <a routerLink="/cart" class=" cart nav-link"><img src="../../assets/shopping-cart.svg" alt=""
          style="width: 40px;height: 40px;"><span *ngIf="cart">{{cart}}</span></a>

  </div>
  <div style="display: none;">
    <a class="navbar-brand" routerLink="">RecipeApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarNav">
      <div class="offset-lg-6 col-lg-6"
        [ngClass]="!authService.isAuthenticated()?'offset-lg-6 col-lg-6':'offset-lg-9 col-lg-4'" style="display: flex;">
        <ul class="navbar-nav">
          <li class="nav-item cart">
            <a routerLink="/cart" class="nav-link"><img src="../../assets/shopping-cart.svg" alt=""
                style="width: 40px;height: 40px;"><span *ngIf="cart">{{cart}}</span></a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated()">
            <button class="btn btn-outline-danger" (click)="authService.logOut()">Logout</button>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" *ngIf="!authService.isAuthenticated()" (ngSubmit)="loginUser()"
          [formGroup]="loginForm">
          <input class="form-control mr-sm-2" type="email" placeholder="Email" formControlName="email">
          <input class="form-control mr-sm-2" type="password" placeholder="Password" formControlName="password">
          <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Login</button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="openModal(registerTemplate)">New
            User</button>
        </form>
      </div>
    </div>
  </div>
</nav>