.container {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}
ol {
  padding: 0;
}
.card {
  max-width: 460px;
}
.disp-flex {
  display: flex;
  justify-content: center;
}
